* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Inter", sans-serif;
    height: 100%;
    overflow: hidden;
    background-color: rgba(4, 8, 15, 1);
    color: rgba(255, 255, 255, 1);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px 70px;
}

.headers {
    padding: 10px 0;
}

.headers h1 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 20px;
}

.wallet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: linear-gradient(87.5deg, rgba(255, 255, 255, 0.0581) 0%, rgba(255, 255, 255, 0.0308) 137.81%);
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.wallet img {
    width: auto;
    height: 40px;
    margin-bottom: 10px;
}

.wallet input[type="number"], .wallet input[type="text"] {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

.wallet input[type="number"]::placeholder, .wallet input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.add_money {
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 12px 30px;
    background-color: rgba(246, 44, 117, 1);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_money:hover {
    background-color: rgba(246, 44, 117, 0.8);
}

.balance, .amount, .address, .status {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

#withdrawalInfo {
    text-align: center;
}

#withdrawalInfo h2 {
    margin-bottom: 15px;
}